body {
	padding: 0;
	margin: 0;
	font-family: 'NanumSquare', sans-serif;
}

a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:focus {
	text-decoration: none;
}
a:hover,
a:active {
	text-decoration: none;
}

.normal {
	font-weight: 400;
}
.bold {
	font-weight: 700;
}
.bolder {
	font-weight: 800;
}
.light {
	font-weight: 300;
}
